.heart {
    background-color: black;
    width: 12px;
    height: 12px;
    position: relative;
    transform: rotate(45deg);
    
    &::before, &::after {
      content: "";
      width: 12px;
      height: 12px;
      background-color: black;
      position: absolute;
      border-radius: 50%;
    }
    
    &::before {
      left: -6px;
    }
    
    &::after {
      top: -6px;
    }
}

.fill{
    background-color: red;
    
    &::before, &::after {
      background-color: red;
    }
}

  