.cell{
    width: 100%;
    height: 100%;
    color: black;
    font-size: larger;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-0{
 background-color: black;
}

.cell-1{
    background-color: cyan;
}
.cell-2{
    background-color: rgb(21, 230, 230);

}
.cell-3{
    background-color: rgb(38, 173, 173);
}
.cell-4{
    background-color: rgb(38, 136, 136);

}
.cell-5{
    background-color: rgb(251, 255, 0);

}
.cell-6{
    background-color: rgb(209, 212, 21);


}
.cell-7{
    background-color: rgb(181, 184, 29);
}
.cell-8{
    background-color: rgb(136, 138, 38);
}
.cell-9{
    background-color: rgb(68, 0, 255);
}
.cell-10{
    background-color: rgb(71, 16, 223);
}
.cell-11{
    background-color: rgb(72, 32, 182);
}
.cell-12{
    background-color: rgb(64, 38, 136);
}

.cell-13{
    background-color: rgb(136, 0, 255);
}

.cell-14{
    background-color: rgb(122, 18, 214);
}

.cell-15{
    background-color: rgb(102, 23, 172);
}

.cell-16{
    background-color: rgb(67, 30, 100);
}
