.tetris-board {
    position: relative;
    height: 95%;
    width: 100%;
    display: grid;
    place-content: center;    

    grid-template-rows: repeat(20, calc(100% / 20));
    grid-template-columns: repeat(10, calc(100% / 20));


}
